@font-face {
  font-family: 'IBMPlexSansKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'IBMPlexSansKR-Regular';
}

a {
  color: #ffffff;
  text-decoration: none;
}


/* nav */
nav{
  width: 100%; 
  height: 85px; 
  background-color: #004614; 
  display: flex; 
  align-items: center; 
  justify-content: space-around;
  animation: navMove 2s;
}


@keyframes navMove {
  from{top: -100px;}
  to{top: 0;}
}



#nav{position: fixed;}

#logo{margin-left: 50px; font-size: 30px; display: flex; align-items: center; letter-spacing: 3px;}
#logo > div > div{margin-top: -9px; font-size: 16px; letter-spacing: 0;}
#logo img{width: 50px; margin-right: 5px;}

nav div ul{list-style: none; margin: 0; padding: 0; font-size: 20px;}
#menu > li{width: 130px; padding: 27px 10px; background-color: #004614; display: inline-block; text-align: center; position: relative;}
#menu > li ul{display: none; position: absolute; top: 84px; left: 0;}
#menu > li:hover ul{display: block;}
#menu > li ul li{width: 130px; padding: 8px 10px; background-color: #aaaaaa;}
#menu > li ul li:hover{background-color: #03942c;}


/* home body */
#top{
  background-image: url("/file/2019MTbg.jpg"); 
  background-size: 100% 100%; 
  height: 735px; 
  width: 70%; 
  margin: auto;
}



#date{
  background: rgba(0,0,0,80%);
  color: #ffffff; 
  width: 25%; 
  height: 650px;
  padding-top: 85px; 
  float: right;}





  
#date table{width: 80%; margin: 50px auto; text-align: center; font-size: 15px; border-collapse: collapse;}
#date table caption{font-size: 23px; margin-bottom: 25px;}
#date table th{border-bottom: 1px solid #ffffff; padding-bottom: 8px;}
#date table td{padding-top: 10px;}

.holiday{color: #ff0000; font-weight: 600;}
.check{color: #2ec724; font-weight: 600;}

#date div{width: 80%; font-size: 23px; margin: 60px auto 0;}




#icon{width: 100%; height: 235px; background-color: #ededed;}
#icon > div{width: 1350px; height: 100%; margin: auto; display: flex; justify-content: space-around; align-items: center;}
#icon a{color: #004614; font-size: 30px; font-weight: 600; display: grid; justify-items: center;}
#icon img{width: 130px; margin: 5px 0;}


#icon > div > div{
  transition: transform 2s;
}

#icon > div > div:hover {
  transform-origin: center;
  transform: rotateY(360deg);
}



#mainGallery{
  width: 70%;
  height: 350px;
  margin: auto;
  border-bottom: 2px solid #c7c7c7;
  background: linear-gradient(270deg, #dbdbdb, white, white, white, white, #dbdbdb);
}

#mainGallery > h2 {
  color: #004614;
  text-align: center;
  font-size: 28px;
  padding: 10px 0 15px 0;
}

#mainGallery > div {
  display: flex;
  align-items: center
}


#mainGallery > div > img {
  width: 25px;
  height: 25px;
}

#mainGallery > div > div {
  width: 100%;
  overflow: hidden;
} 

#mainGallery > div > div ul{
  width: 150%;
}

#mainGallery > div > div li {
  display: inline-block;
  padding: 0 8.7px;
}

#mainGallery > div > div a {
  font-size: 16px;
  color: #444444;
  display: grid;
  justify-items: center;
}

#mainGallery > div > div img {
  width: 300px;
  height: 250px;
  padding-bottom: 5px;
}







#contest{
  width: 70%;
  height: 425px;
  margin: auto;
  background: linear-gradient(270deg, #dbdbdb, white, white, white, white, #dbdbdb);
}

#contest > h2 {
  color: #004614;
  text-align: center;
  font-size: 28px;
  padding: 10px 0 15px 0;
}

#contest > div {
  display: flex;
  align-items: center
}

#contest > div > img {
  width: 25px;
  height: 25px;
}


#contest > div > div {
  width: 100%;
  overflow: hidden;
}

#contest > div > div ul {
  width: 201%;
} 

#contest > div > div li {
  padding: 0 6.7px;
  display: inline-block;
}

#contest > div > div a {
  width: 240px;
  font-size: 16px;
  color: #444444;
  display: grid;
  justify-items: center;
  text-align: center;
}

#contest > div > div a > h5{
  font-size: 16px;
  color: #004614;
}

#contest > div > div img {
  width: 240px;
  height: 300px;
  margin-bottom: 3px;
}










/* body */
#title{width: 100%; height: 175px; border-bottom: 5px solid #004614; background-image: url("/file/bg.jpg");}
#title section{height: 100%; background: rgb(0 0 0 / 60%); display: flex; align-items: center; justify-content: center;}
#title h1{font-size: 50px; font-weight: 900; letter-spacing: 8px; color: #ffffff;}



#body {
  width: 60%;
  margin: 80px auto;
}



#left{
  width: 25%;
  height: 100%;
  float: left;
}

#left h1{font-size: 30px; color: #016938; margin-bottom: 25px;}
#left ul{width: 75%; list-style: none; font-size: 20px; font-weight: 600;}
#left li{border-bottom: 1px solid #c7c7c7; padding-bottom: 5px; margin-bottom: 8px;}

#left a{color: #000000; padding-left: 8px;}
#left a:hover{color: #016938;}



#right{
  width: 75%;
  height: 100%;
  float: right;
}

#right > h1{font-size: 30px; color: #016938; margin-bottom: 10px;}
#right hr{border: 1px solid #c7c7c7; margin-bottom: 13px;}


/* introduce */
#introduce article{
  margin-bottom: 45px;
}

#introduce iframe{
  width: 100%;
  height: 481.7px;
}

#introduce h2{
  color: #016938;
  padding-bottom: 5px;
}

#introduce ul{
  list-style-type: "‧ ";
  list-style-position: inside;
}

#introduce li strong{
  color: #444444;
}

#introduce li > div{
  padding-left: 11px;
}





/* professor */
#professor article{display: flex; padding-bottom: 13px; margin-bottom: 13px; border-bottom: 1px solid #c7c7c7;}

#professor img{width: 170px; box-shadow: 5px 5px 10px #444444;}
#professor h2{font-size: 23px; color: #444444; text-align: center;}
#professor h2 > span{font-size: 25px; color: #000000;}

#profInformation{margin-left: 20px;}
#profInformation h6{font-size: 17px;}
#profInformation h6 > span{color: #009b64;}



/* member */
#member h1{
  text-align: center;
  font-size: 27px;
  margin-bottom: 45px;
}

#member table{
  text-align: center;
  border: 1px solid #444444;
  border-collapse: collapse;
}

#member table caption{
  font-size: 23px;
  font-weight: 600;
  color: #016938;
  margin-bottom: 8px;
}

#member th{
  width: 125px;
  border: 1px solid #444444;
  padding: 10px;
}

#member td{
  width: 175px;
  border: 1px solid #444444;
  padding: 10px;
}

#member > table {
  margin: 0 auto 63px;
}

#member > div > table{
  margin: 0 42.5px;
}




/* notice */
#notice > table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  border-top: 2px solid #444444;
  border-bottom: 2px solid #444444;
}

#notice > table th {
  font-size: 20px;
  padding: 7px 0;
  color: #004614;
  border-bottom: 2px solid #444444;
}

#notice > table td {
  border-bottom: 1px solid #c7c7c7;
  font-size: 18px;
  padding: 8px 0;
}

#notice > table td > a {
  color: #000000;
}

#notice > ul {
  list-style: none;
  text-align: center;
  margin-top: 90px;
}

#notice > ul > li > a {
  color: #000000;
}


/* noticePages */
#noticePages > table {
  width: 100%;
  border-collapse: collapse;
  border-top: 2px solid #c7c7c7;
  border-bottom: 2px solid #c7c7c7;
  font-size: 20px;
  margin-bottom: 30px;
}

#noticePages > table th {
  padding: 8px 0;
  border-bottom: 1px solid #c7c7c7;
  background-color: #f3f3f3;
}

#noticePages > table td{
  padding: 8px 10px;
  border-bottom: 1px solid #c7c7c7;
}

#noticePages > div > p {
  text-align: center;
  font-size: 18px;
  padding-bottom: 20px;
}

#noticePages > button {
  padding: 5px 15px;
  background-color: #ffffff;
  border: 2px solid #004614;
  border-radius: 20px ;
  display: block;
  margin: auto;
}

#noticePages > button > a{
  font-weight: 600;
  font-size: 17px;
  color: #004614;
}












/* gallery */
#gallery > div{
  margin-bottom: 13px;
  display: flex;
  justify-content: space-between;
}

#gallery > div > a{
  font-size: 17px;
  color: #000000;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#gallery img{
  width: 275px;
  height: 250px;
  margin-bottom: 3px;
}

#gallery > ul {
  list-style: none;
  text-align: center;
  margin-top: 90px;
}

#gallery > ul > li > a {
  color: #000000;
}




/* galleryPages */
#galleryPages > table {
  width: 100%;
  border-collapse: collapse;
  border-top: 2px solid #c7c7c7;
  border-bottom: 2px solid #c7c7c7;
  font-size: 20px;
  margin-bottom: 20px;
}

#galleryPages > table th {
  padding: 8px 0;
  border-bottom: 1px solid #c7c7c7;
  background-color: #f3f3f3;
}

#galleryPages > table td{
  padding: 8px 10px;
  border-bottom: 1px solid #c7c7c7;
}

#galleryPages > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#galleryPages > div > img {
  width: 30px;
  height: 30px;
} 

#galleryImg {
  width: 775px;
  height: 500px;
}




#galleryPages > button {
  padding: 5px 15px;
  
  background-color: #ffffff;
  border: 2px solid #004614;
  border-radius: 20px ;
  display: block;
  margin: 50px auto;
}

#galleryPages > button > a{
  font-weight: 600;
  font-size: 17px;
  color: #004614;
}







/* major */
#major iframe {
  width: 100%;
  height: 950px;
}


/* coding */
#coding iframe {
  width: 100%;
  height: 950px;
}


/* project */
#project iframe {
  width: 100%;
  height: 950px;
}



/* q&a */
#qna iframe {
  width: 100%;
  height: 950px;
}



/* footer */
footer{height: 110px; border-top: 2px solid #004614;}
footer > div{width: 60%; height: 100%; margin: auto; display: flex; align-items: center; justify-content: space-between;}

footer > div > div{font-size: 22px; color: #009b64;}
footer > div > div span{color: #000000; margin-right: 20px;}

footer > div > a{float: right; color: #016938; font-size: 28px; font-weight: 900; display: flex; align-items: center; letter-spacing: 5px;}
footer > div > a > div > div{color: #000000; font-size: 12px; letter-spacing: 0; margin-top: -5px;} 
footer > div > a img{width: 60px; margin-right: 10px;}

